.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  padding: 0 60px 0 60px;
  height: 80px;
}
.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 10px;
}
.navbar-toogle {
  display: none;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
.navbar-links {
  display: flex;
}

.button {
  color: #fff;
  background-color: blue;
  text-decoration: none;
  margin-left: 20px;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
@media (max-width: 768px) {
  .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
  }
  .navbar-links.show {
    display: flex;
  }
  .navbar-toogle {
    display: block;
  }
}

img {
  height: 180px;
  width: 150px;
}
li {
  list-style-type: none;
}
.mins {
  display: flex;
  align-items: center;
}
.w {
  width: 50%;
}
.movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lavenderblush;
  border-radius: 5px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 15px;
  padding: 15px;
}
.vote-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
}
.poster {
  width: 20%;
}
.vote {
  font-weight: bold;
  padding-top: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  left: 0;
}

.img {
  height: 250px;
  width: 160px;
}
.detail-company {
  background-color: #333;
}
